---
import { strictObject } from "astro:schema";
import { GitHub } from "./icons";
import { StarIcon } from "./icons";
import { githubRequest } from "../mocks";

interface GitHubRepo {
  name: string;
  description: string;
  html_url: string;
  language: string;
  stargazers_count: number;
  forks_count: number;
  watchers_count: number;
}

const GitHubPath = "https://api.github.com/users/Altaskur/repos?per_page=5";

const offLine: boolean = true;
let data: any[] = [];

if (!offLine) {
  const request = fetch(GitHubPath);
  const response = await request;
  data = await response.json();
}

if (offLine) {
  data = githubRequest;
}

const repos: GitHubRepo[] = data.map((repo: any) => ({
  name: repo.name,
  description: repo.description,
  html_url: repo.html_url,
  stargazers_count: repo.stargazers_count,
  forks_count: repo.forks_count,
  watchers_count: repo.watchers_count,
  language: repo.language,
}));
---

<section class="github-section">
  <h2>GitHub</h2>
  <p>Últimos repositorios en mi cuenta de GitHub</p>
  <ul>
    {
      repos.map((repo: GitHubRepo) => (
        <li class="gitHub-card">
          {/* <GitHub /> */}
          <div class="repo-info">
            <h3>{repo.name}</h3>
            <p>{repo.description}</p>

            <div class="repo-stats">
              {repo.stargazers_count > 0 && (
                <div class="stat-item">
                  <div class="icon-container">
                    <StarIcon />
                  </div>
                  <div>
                    <p>
                      <span>{repo.stargazers_count}</span>
                    </p>
                    Stars
                  </div>
                </div>
              )}

              {repo.forks_count > 0 && (
                <div class="stat-item">
                  <p>
                    <span>{repo.forks_count}</span>
                  </p>
                  Forks
                </div>
              )}
              {repo.watchers_count > 0 && (
                <div class="stat-item ">
                  <p>
                    <span>{repo.watchers_count}</span>
                  </p>
                  Watchers
                </div>
              )}
            </div>

            <div>
              <hr class={repo.language} />
            </div>

            <div class="languages-containers" />
            <a href={repo.html_url} target="_blank" rel="noopener noreferrer">
              Ver en GitHub
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 2.5rem;

    & li {
      display: flex;
      align-items: space-between;
      gap: 2.5rem;

      & .repo-info {
        flex: 1 1 300px;

        max-width: 384px;
        min-width: 384px;

        margin: 0.8rem;

        & h3 {
          margin-bottom: 0.5rem;
          text-transform: uppercase;
        }

        & .repo-stats {
          display: flex;
          gap: 1rem;
          margin-bottom: 1rem;

          & .stat-item {
            display: flex;
            align-items: center;

            & .icon-container {
              margin: 0 auto;
              height: 32px;
              width: 32px;
            }
          }
        }
        & hr.JavaScript {
          border-color: #f1e05a;
        }
      }
    }
  }
</style>
